body{
  font-family: Arial;
  padding: 20px;
  background-color: #f1f7e6;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f1f7e6 10px ), repeating-linear-gradient( #57923455, #579234 );
}

.card{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-image: url("magic.png");
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: 0 4px 10px rgba(0,0,0,0.9);

}